:root{
    --primary:rgba(249, 203, 118, 1);
}
.bg-success-op75{
    background-color: rgb(25 135 84 / 75%) !important;
    opacity: 1 !important;
}
#box{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}