:root{
    --primary:rgba(249, 203, 118, 1);
}
.bg-success-op75{
    background-color: rgb(25 135 84 / 75%) !important;
}
#box{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
#midousuji-road-1{
    background-image: url("images/zone-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 240px;
    height: auto;
}
#west-offices-zone-1{
    margin-top: 100px;
    padding-left: 50px;
}
#east-offices-zone-1{
    margin-top: 100px;
    padding-left: 20px;
}
.box-id-1{
    margin-top: 10px;
}
.box-id-2{
    margin-top: 15px;
}
.box-id-3{
    margin-left:10px;
}
.box-id-4{
    margin-top:20px;
}
.box-id-5{
    margin-top:35px;
}
.box-id-6{
    margin-top:35px;
}
.box-id-8{
    margin-top:33px;
}
.box-id-9{
    margin-top:6px;
}
.box-id-10{
    margin-top:35px;
}
.box-id-11{
    margin-top:6px;
}
.box-id-12{
    margin-top:15px;
}
.box-id-13{
    margin-top:15px;
    margin-left:15px;
}
#midousuji-road-2{
    background-image: url("images/zone-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 240px;
    height: auto;
}
#west-offices-zone-2{
    padding-left: 50px;
}
.box-id-14{
    margin-left: 20px;
}
.box-id-15{
    margin-top: 5px;
}
.box-id-16{
    margin-left: 23px;
    margin-top: 6px;
}
.box-id-19{
    margin-left: 15px;
    margin-top: 7px;
}
.box-id-20{
    margin-top: 32px;
}
.box-id-23{
    margin-top: 127px;
}
.box-id-26{
    margin-top: 10px;
}
#east-offices-zone-2{
    padding-left: 20px;
}
.box-id-17{
    margin-left: 5px;
    margin-top: 72px;
}
.box-id-18{
    margin-top: 6px;
}
.box-id-21{
    margin-left: 5px;
    margin-top: 15px;
}
.box-id-22{
    margin-left: 3px;
    margin-top: 6px;
}
.box-id-24{
    margin-left: 2px;
    margin-top: 20px;
}
.box-id-25{    
    margin-top: 7px;
    margin-left: -12px;
}
#midousuji-road-3{
    background-image: url("images/zone-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 240px;
    height: auto;
}
#west-offices-zone-3{
    padding-left: 80px;
}
.box-id-28{
    margin-left: 7px;
}
.box-id-31{
    margin-left: 5px;
    margin-top: 2px;
}
.box-id-32{
    margin-left: 7px;
    margin-top: 1px;
}
.box-id-36{
    margin-left: -45px;
    margin-top: 20px;
}
.box-id-37{
    margin-top: 2px;
}
.box-id-40{
    margin-top: 15px;
}
.box-id-39{
    margin-top: -5px;
    margin-left: -53px;
}
#east-offices-zone-3{
    padding-left: 30px;
}
.box-id-27{
    margin-top: 30px;
}
.box-id-30{
    margin-top: 14px;
}
.box-id-33{
    margin-left: -9px;
    margin-top: 30px;
}
.box-id-34{
    margin-left: 10px;
    margin-top: -10px;
}
.box-id-35{
    margin-left: -10px;
    margin-top: -10px;
}
.box-id-38{
    margin-left: -15px;
    margin-top: 20px;
}
#midousuji-road-4{
    background-image: url("images/zone-4.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 240px;
    height: auto;
}
#west-offices-zone-4{
    padding-left: 50px;
}
.box-id-42{
    margin-top: 63px;
    margin-left: 5px;
}
.box-id-43{
    margin-top: -1px;
    margin-left: 6px;
}
.box-id-45{
    margin-top: -3px;
    margin-left: 6px;
}
.box-id-46{
    margin-top: -6px;
    margin-left: 6px;
}
.box-id-47{
    margin-top: 56px;
    margin-left: -22px;
}
.box-id-49{
    margin-top: -30px;
    margin-left: -42px;
}
.box-id-50{
    margin-top: 26px;
}
.box-id-52{
    margin-top: 13px;
}
.box-id-53{
    margin-left: -5px;
    margin-top: -10px;
}
.box-id-54{
    margin-left: -4px;
    margin-top: -10px;
}
#east-offices-zone-4{
    padding-left: 0 !important;
}
.box-id-41{
    margin-left: -15px;
    margin-top: 7px;
}
.box-id-44{
    margin-left: -20px;
    margin-top: 95px;
}
.box-id-51{
    margin-left: -24px;
    margin-top: 195px;
}
#road{
    margin: auto;
    min-width: 25px;
}