:root{
    --primary:rgba(249, 203, 118, 1);
}

#box{
    // width: 50px;
    // height: 50px;
    border: solid 2px rgb(251, 187, 67);
    background-color:rgba(249, 203, 118, 1);
    // display: flex;
    // justify-content: center;
    // align-items: center;
}
#road{
    margin: auto;
    min-width: 25px;

}