
a, p, h1, h3 ,h2 ,h4 ,h5 ,h6 ,span {
  font-family: "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif !important;
}
:root{
    --primary:rgba(249, 203, 118, 1);
    --dot-color: rgba(0,176,80,1);
    --title-color: rgb(255, 0, 0);
}
body {
    margin: 0;
    padding: 0;
    background-color: rgba(233, 233, 233, 0.8);
}
.content {
    width: 1080px;
    height: 1620px;
    margin: 0 auto;
    text-align: center;
    /* border: solid black; */
}
p {
    font-size: 24px;
    margin-top: 50px;
}
span{
    font-size: 36pt;
    font-family: Yu Gothic;
    font-weight: bold;
    text-align: left;
}
/* dot setup */
.green{
    background-color: rgba(0, 176, 80, 0) ;
    /* opacity: 0; */
}
.circle{
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.show{
    opacity: 1;
    background-color: rgba(0, 176, 80, 0.8) !important;
    border: solid rgb(0 176 80) !important;
}
/* title */
.content-wrapper{
    margin: 0 2% 0 2%;
}
.title-wrapper{
    display: flex;
    border-bottom: solid #c00000 7px;
}
.title-wrapper h1{
    font-size: 42pt;
    color: #c00000;
    margin: 0;
    font-family: Yu Gothic;
    font-weight: bold;
}
.title-logo {
    width: auto;
    height: 55pt;
    margin-left: auto;
}
/* map */
.map-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.map-container{
  height: 1420px;
  /* border:solid; */
}
.map{
    /* 
    w: 47px
    h: 142px 
    w: 1
    h: 3.021276595.... */
  /* height: 85vh; */
  width: 460px !important; 
  /* width: 1080px; */
  height: 1420px;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin:auto;
  margin-top:10px;
  border: solid black;
}
.building-list{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
}
/* note */
.note-wrapper{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.map-wrapper{
  transition: all ease 0.6s;
  opacity: 0;
}
/*  navigation */
.nav {
  position: absolute;
  top: 48%;
  font-size: 36pt;
  background-color: rgba(0, 176, 80, 0.7);
  text-decoration: none;
  cursor: pointer;
  color: black;
  transition: all ease 0.3s;
  padding: 5px ;
  opacity: 0 !important;
}
.nav:hover {
    font-weight: bold;
}
.nav-left{
  left: 0%;
  border-radius: 0px 20px 20px 0px ;
}
.nav-right{
  right: 0%;
  border-radius: 20px 0px 0px 20px;
}
.nav-top{
  top: 0%;
  right: 0%;
}