
#box{
    opacity: 0;
    width: 17px !important;
    height: 17px !important;
    font-size: 13px;
}
#midousuji-road{
    background-image: url("../images/all-zone.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 125px;
    height: 550px;
}
#all-west-offices{
    padding-left: 25px !important;
    margin-top: 20px;
}
.box-id-3{
    margin-left: 7px;
}
.box-id-4{
    margin-top: 3px;
}
.box-id-6{
    margin-top: 5px;
}
.box-id-10{
    margin-top: 5px;
}
.box-id-11{
    margin-top: -4px;
}
.box-id-13{
    margin-top: -1px;
    margin-left: 7px;
}
.box-id-14{
    margin-top: -17px;
    margin-left: -5px;
}
.box-id-15{
    margin-top: -4px;
    margin-left: -4px;
}
.box-id-16{
    margin-top: -17px;
    margin-left: 7px;
}
.box-id-19{
    margin-top: -5px;
    margin-left: 8px;
}
.box-id-20{
    margin-top: -5px;
}
.box-id-23{
    margin-top: 4px;
}
.box-id-26{
    margin-top: 35px;
    margin-left: -7px;
}
.box-id-28{
    margin-top: -17.5px;
    margin-left: 7px;
}
.box-id-29{
    margin-top: -3px;
}
.box-id-31{
    margin-top: -3px;
}
.box-id-32{
    margin-top: -3px;
}
.box-id-36{    
    margin-top: 3px;
    margin-left: -20px;
}
.box-id-37{    
    margin-top: -3px;
    margin-left: -2px;
}
.box-id-39{    
    margin-top: -6px;
    margin-left: -21px;
}
.box-id-42{    
    margin-left: -2px;
}
.box-id-43{  
    margin-top: -3px;
    margin-left: -2px;
}
.box-id-45{  
    margin-top: -4px;
    margin-left: -2px;
}
.box-id-46{  
    margin-top: -7px;
    margin-left: -2px;
}
.box-id-47{  
    margin-top: 23px;
    margin-left: -15px;
}
.box-id-50{  
    margin-top: 8px;
    margin-left: -3px;
}
.box-id-49{  
    margin-top: -15px;
    margin-left: -25px;
}
.box-id-52{  
    margin-top: 5px;
    margin-left: -5px;
}
.box-id-53{  
    margin-top: -9px;
    margin-left: -5px;
}
.box-id-54{  
    margin-top: -7px;
    margin-left: -5px;
}
#all-east-offices{
    margin-top: 25px;
    padding-left: 8px;
}
.box-id-5{
    margin-top: 3px;
}
.box-id-8{
    margin-top: 6px;
}
.box-id-9{
    margin-top: -3px;
}
.box-id-12{
    margin-top: 3px;
}
.box-id-17{
    margin-top: 2px;
}
.box-id-18{
    margin-top: -4px;
    margin-left: -4px;
}
.box-id-21{
    margin-top: -3px;
    margin-left: -3px;
}
.box-id-22{
    margin-top: -4px;
    margin-left: -3px;
}
.box-id-24{
    margin-top: -1px;
    margin-left: -3px;
}
.box-id-25{
    margin-top: -4px;
    margin-left: -6px;
}
.box-id-27{
    margin-top: 13px;
    margin-left: -2px;
}
.box-id-30{
    margin-top: 2px;
    margin-left: -4px;
}
.box-id-33{
    margin-top: 8px;
    margin-left: -11px;
}
.box-id-34{
    margin-top: -9px;
}
.box-id-35{
    margin-top: -8px;
    margin-left: -11px;
}
.box-id-38{
    margin-top: -3px;
    margin-left: -8px;
}
.box-id-41{
    margin-top: -5px;
    margin-left: -11px;
}
.box-id-44{
    margin-top: 35px;
    margin-left: -13px;
}
.box-id-51{
    margin-top: 87px;
    margin-left: -16px;
}