.map{
  width: 440px !important; 
  height: 1360px !important;
  margin-top: 0px !important;
}
.map-title-wrapper{
  margin: 0px 34px 0px 34px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.map-container{
  height: 1360px !important;
}
.circle{
    width: 50px;
    height: 50px;
    color: rgba(0,0,0,0);
}
.note-wrapper{
  margin-top: 0px;
}
/* compas */
.north-point{
  position: absolute;
  width: 120px;
  left: 0% !important;
  top: 77% !important;
}