#midousuji-road-2{
    background-image: url("../images/zone-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 240px;
    height: auto;
}
#west-offices-zone-2{
    padding-left: 50px;
}
.box-id-14{
    margin-left: 20px;
}
.box-id-15{
    margin-top: 5px;
}
.box-id-16{
    margin-left: 23px;
    margin-top: 6px;
}
.box-id-19{
    margin-left: 15px;
    margin-top: 7px;
}
.box-id-20{
    margin-top: 32px;
}
.box-id-23{
    margin-top: 127px;
}
.box-id-26{
    margin-top: 10px;
}
#east-offices-zone-2{
    padding-left: 20px;
}
.box-id-17{
    margin-left: 5px;
    margin-top: 72px;
}
.box-id-18{
    margin-top: 6px;
}
.box-id-21{
    margin-left: 5px;
    margin-top: 15px;
}
.box-id-22{
    margin-left: 3px;
    margin-top: 6px;
}
.box-id-24{
    margin-left: 2px;
    margin-top: 20px;
}
.box-id-25{    
    margin-top: 7px;
    margin-left: -12px;
}