#midousuji-road-3{
    background-image: url("../images/zone-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 240px;
    height: auto;
}
#west-offices-zone-3{
    padding-left: 80px;
}
.box-id-28{
    margin-left: 7px;
}
.box-id-31{
    margin-left: 5px;
    margin-top: 2px;
}
.box-id-32{
    margin-left: 7px;
    margin-top: 1px;
}
.box-id-36{
    margin-left: -45px;
    margin-top: 20px;
}
.box-id-37{
    margin-top: 2px;
}
.box-id-40{
    margin-top: 15px;
}
.box-id-39{
    margin-top: -5px;
    margin-left: -53px;
}
#east-offices-zone-3{
    padding-left: 30px;
}
.box-id-27{
    margin-top: 30px;
}
.box-id-30{
    margin-top: 14px;
}
.box-id-33{
    margin-left: -9px;
    margin-top: 30px;
}
.box-id-34{
    margin-left: 10px;
    margin-top: -10px;
}
.box-id-35{
    margin-left: -10px;
    margin-top: -10px;
}
.box-id-38{
    margin-left: -15px;
    margin-top: 20px;
}