#midousuji-road-4{
    background-image: url("../images/zone-4.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 240px;
    height: auto;
}
#west-offices-zone-4{
    padding-left: 50px;
}
.box-id-42{
    margin-top: 63px;
    margin-left: 5px;
}
.box-id-43{
    margin-top: -1px;
    margin-left: 6px;
}
.box-id-45{
    margin-top: -3px;
    margin-left: 6px;
}
.box-id-46{
    margin-top: -6px;
    margin-left: 6px;
}
.box-id-47{
    margin-top: 56px;
    margin-left: -22px;
}
.box-id-49{
    margin-top: -30px;
    margin-left: -42px;
}
.box-id-50{
    margin-top: 26px;
}
.box-id-52{
    margin-top: 13px;
}
.box-id-53{
    margin-left: -5px;
    margin-top: -10px;
}
.box-id-54{
    margin-left: -4px;
    margin-top: -10px;
}
#east-offices-zone-4{
    padding-left: 0 !important;
}
.box-id-41{
    margin-left: -15px;
    margin-top: 7px;
}
.box-id-44{
    margin-left: -20px;
    margin-top: 95px;
}
.box-id-51{
    margin-left: -24px;
    margin-top: 195px;
}
#road{
    margin: auto;
    min-width: 25px;
}